<!-- <div class="row">
 -->	<!-- <div class="col-lg-3 col-md-3 col-sm-3"> -->
		<h1 class="site_name">Your Rating: <%= @review.rating %></h1>

	<!-- </div> -->
<!-- 	<div class="col-lg-9 col-md-3 col-sm-3">
 -->		<h1 class="site_name">Your Review: <%= @review.written_text %></h1>
<!-- 	</div>
 -->
	<a href="/sites">Site index</a>

<!-- </div> -->