<!-- <h1 style="text-align:center">
	<span class="CheapNewYorkLogo">Cheap
	</span> New York <span class="CheapNewYorkLogoT">!</span>
</h1>

 -->

 <img class="SpashImage" src="assets/CheapNewYorkSplash.png">

<script>
	$(function(){
		setTimeout(function(){
			window.location="/";
		},5000)
	})
</script>